@page "/"
@using MudBlazor


<PageTitle>Home</PageTitle>

<div style="text-align:center">
    <div>
        <img src="/img/team-2-logo.png" alt="team-logo" width="200px;" height="200px;" />
    </div>
    <div>
        <h2>Team 2</h2>
        <br />
        <h3>Members and Responsibilities</h3>
    </div>
    <br />
    <ul style="font-size:20px;">
        <li style="font-size:50px;"><strong>Austen: PO</strong></li>
        <li style="font-size:50px;"><strong>DaeJin: Sales Returns</strong></li>
    </ul>
</div>
